{%- if include.id -%}
  {%- assign gallery = page[include.id] -%}
  {%- assign galleryName = include.id -%}
{%- elsif include.folder -%}
  {%- assign gallery = site.static_files | where_exp:"item", "item.path contains include.folder" -%}
  {%- assign galleryName = 'image-gallery' -%}
{%- else -%}
  {%- assign gallery = page.gallery -%}
  {%- assign galleryName = 'image-gallery' -%}
{%- endif -%}

{%- if include.reverse == "true" -%}
  {%- assign gallery = gallery | reverse -%}
{%- endif -%}

{%- assign cloudinary_size = 'thumbnail' -%}
{%- if include.layout == 'half' -%}
  {%- assign element_class = 'w-full sm:w-1/2' -%}
  {%- assign cloudinary_size = 'default' -%}
{%- elsif include.layout == 'third' -%}
  {%- assign element_class = 'w-full sm:w-1/2 md:w-1/3' -%}
{%- elsif include.layout == 'quarter' -%}
  {%- assign element_class = 'w-full sm:w-1/2 md:w-1/3 lg:w-1/4' -%}
{%- else -%}
  {%- assign element_class = 'w-full' -%}
  {%- assign cloudinary_size = 'default' -%}
{%- endif -%}

{%- if include.equal_height -%}
  {%- assign element_class = element_class | append: ' h-64 cover-img' -%}
{%- endif -%}

{%- if include.double_padding -%}
  {%- assign element_class = element_class | append: ' p-3' -%}
{%- else -%}
  {%- assign element_class = element_class | append: ' p-1.5' -%}
{%- endif -%}

{%- if include.masonry -%}
  {%- assign cloudinary_size = 'default' -%}
{%- endif -%}

<figure class="flex flex-wrap gallery {{galleryName}}">
  {% for img in gallery %}
      {%- assign file_path = img.image_path | default: img.path | relative_url -%}
      <a href="{{ file_path }}" class="flex-none {{ element_class }}" {% if img.caption %}title="{{img.caption}}"{% endif %}>
        {% cloudinary {{ cloudinary_size }} {{ file_path }} class="thumbnail" %}
        {% if img.caption %}
        <div class="caption absolute -bottom-1 bg-gradient-to-r from-gray-100 w-full p-3 -ml-3 sm:hidden">{{img.caption}}</div>
        {% endif %}
      </a>
  {% endfor %}
  {% if include.caption %}
    <figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
  {% endif %}
</figure>

<script>
    new SimpleLightbox({elements: '.{{galleryName}} a'});
{%- if include.masonry -%}
    new Masonry( '.{{galleryName}}', { });
{%- endif -%}
</script>