<header class="container flex flex-wrap justify-between items-center px-2 py-4">
  <div>
    <a href="{{ '/' | relative_url }}">
      <img src="{{ site.logo | relative_url }}" alt="Logo" class="h-14 w-14">
    </a>
  </div>

  <div>
      <nav id="site-nav">
        <ul class="flex items-center justify-between">
          {%- for link in site.data.navigation.main -%}
            <li class="block mx-4 text-xl text-gray-600">
              <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
  </div>
</header>