<header class="container flex flex-wrap justify-between items-center p-4 text-gray-600">
  <div class="flex">
    <a href="{{ '/' | relative_url }}">
      <svg class="h-14 w-14 text-red-900 fill-current" version="1.1" viewBox="0 0 42.333 42.333" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-56.696 -75.595)">
          <title>Johannes Ganzenmüller</title>
          <path d="m67.428 100.56c4.3048-4.084 8.3592-7.4098 13.857-11.412 4.117-2.9899 5.4484-5.9558 5.8979-7.4171 4.2229-1.5289 8.16-3.389 11.497-4.8598-5.5825 10.011-12.067 14.971-20.325 20.529-7.8468 5.2822-17.24 13.124-20.61 18.159 0.2822-6.2985 6.0797-11.267 9.6829-15zm-10.128-18.353s5.8047 3.7025 14.185 3.6515c5.8045-0.03534 12.271-2.9962 14.394-3.8669-0.63866 2.0929-2.4705 3.9873-4.4155 5.1115-3.5903 2.0752-10.778 3.094-15.808 1.1226 2.3982 2.2314 3.7811 4.752 3.2435 7.4739-2.3942-5.5753-10.568-8.0146-11.599-13.493z" stroke-width=".092922"/>
        </g>
      </svg>
    </a>
    <div class="h-14 ml-2 leading-tight lg:leading-tight lg:text-lg flex justify-center items-center hover:text-red-900"><a href="{{ '/' | relative_url }}">Johannes<br>Ganzenmüller</a></div>
  </div>

  <button id="navbarBtn" type="button" class="block md:hidden px-2 focus:outline-none">
    <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <path d="M2 6h28v6h-28zM2 14h28v6h-28zM2 22h28v6h-28z"></path>
    </svg>
  </button>

  <div id="navbarMenu" class="w-full md:w-auto flex-grow hidden md:flex md:items-center block border border-gray-400 text-xl md:border-0 rounded-lg mt-4 md:mt-0">
      <ul class="md:flex justify-end flex-1 items-center">
        <li class="navbarItem">
          <a href="{{ '/reisen/' | relative_url }}">Reisen</a>
          <div class="navToggle"></div>
          <div class="dropdownContent">
            <a href="{{ '/laender/' | relative_url }}">Destinationen</a>
            <a href="{{ '/photography/' | relative_url }}">Reisegalerien</a>
          </div>
        </li>
        <li class="navbarItem">
          <a href="{{ '/fotografie/' | relative_url }}">Fotografie</a>
        </li>
        <li class="navbarItem">
          <a href="{{ '/blog/' | relative_url }}">Blog</a>
          <div class="navToggle"></div>
          <div class="dropdownContent">
            <a href="{{ '/category/fotografie/' | relative_url }}">Fotografie</a>
            <a href="{{ '/category/reisen/' | relative_url }}">Reisen</a>
            <a href="{{ '/category/technik/' | relative_url }}">Technik</a>
            <a href="{{ '/category/allgemein/' | relative_url }}">Allgemein</a>
          </div>
        </li>
        <li class="navbarItem">
          <a href="{{ '/about/' | relative_url }}">About</a>
        </li>
      </ul>
  </div>
</header>