{% assign document = post | default: page %}

{% if document.date %}
  {% assign date = document.date %}
  <span class="pr-4 pb-1">
    <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
    <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%B %-d, %Y" }}</time>
  </span>
{% endif %}

{% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
{% assign words = document.content | strip_html | number_of_words %}
<span>
  <svg class="icon"><use xlink:href="#icon-clock"></use></svg>
  {% if words < words_per_minute %}
    weniger als 1 Minute zum Lesen
  {% elsif words == words_per_minute %}
    1 Minute zum Lesen
  {% else %}
    {{ words | divided_by: words_per_minute }} Minuten zum Lesen
  {% endif %}
</span>
