{%- assign commonStyle = 'px-3 py-2 text-center font-semibold border border-gray-400' -%}

{% if paginator.total_pages > 1 %}
<nav class="container text-gray-700 my-12 text-sm md:text-base">
  <ul class="flex justify-center">
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="{{commonStyle}} block rounded-l hover:bg-gray-500 hover:text-white">Vorherige</a></li>
    {% else %}
      <li class="{{commonStyle}} block rounded-l text-gray-400"><span aria-hidden="true">Vorherige</span></li>
    {% endif %}

    {% if paginator.page_trail %}
      {% if paginator.page > 3 %}
        <li><a href="{{ paginator.first_page_path | prepend: site.baseurl }}" class="{{commonStyle}} hidden sm:block -ml-px hover:bg-gray-500 hover:text-white">1</a></li>
      {% endif %}
      {% if paginator.page > 4 %}
        <li class="{{commonStyle}} hidden sm:block -ml-px text-gray-400">&hellip;</li>
      {% endif %}

      {% for trail in paginator.page_trail %}
        {% if page.url == trail.path %}
          <li class="{{commonStyle}} block -ml-px bg-gray-500 text-white">{{ trail.num }}</li>
        {% else %}
          <li><a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}" class="{{commonStyle}} hidden sm:block -ml-px hover:bg-gray-500 hover:text-white">{{ trail.num }}</a></li>
        {% endif %}
      {% endfor %}

      {% assign pages_until_last = paginator.total_pages | minus: paginator.page %}
      {% if pages_until_last > 3 %}
        <li class="{{commonStyle}} hidden sm:block -ml-px text-gray-400">&hellip;</li>
      {% endif %}
      {% if pages_until_last > 2 %}
        <li><a href="{{ paginator.last_page_path | prepend: site.baseurl }}" class="{{commonStyle}} hidden sm:block -ml-px hover:bg-gray-500 hover:text-white">{{ paginator.total_pages }}</a></li>
      {% endif %}
    {% endif %}

    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="{{commonStyle}} block -ml-px rounded-r hover:bg-gray-500 hover:text-white">Nächste</a></li>
    {% else %}
      <li class="{{commonStyle}} block -ml-px rounded-r text-gray-400"><span aria-hidden="true">Nächste</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
