{%- if post.header.teaser -%}
    {%- capture teaser %}{{ post.header.teaser }}{% endcapture -%}
{%- else -%}
    {%- assign teaser = site.teaser -%}
{%- endif -%}

{%- if post.id -%}
    {%- assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" -%}
{%- else -%}
    {%- assign title = post.title -%}
{%- endif -%}

<article class="w-3/4 xl:w-2/3 mb-8 p-2">
    <a href="{{ post.url | relative_url }}" rel="permalink">
        <h1 class="text-red-900 mb-2">{{ title }}</h1>

        <div class="flex">
            {%- if teaser -%}
            <div class="flex-none h-48 w-full sm:w-48 mr-4 overflow-hidden rounded-md">
                {% cloudinary thumbnail {{teaser | relative_url }} alt="" class="preview-image" %}
            </div>
            {%- endif -%}

            <div class="hidden sm:block">
                {%- if post.show_meta_data -%}
                    <div class="text-gray-500 text-xs md:text-sm mb-2">{% include page__meta.html %}</div>
                {%- endif %}
                {%- if post.excerpt -%}
                    <p class="text-sm md:text-base">{{ post.excerpt | markdownify | strip_html | truncate: 350 }}</p>
                {%- endif -%}
            </div>
        </div>
    </a>
</article>