{% if page.previous or page.next %}
<nav class="container prose prose-sm md:prose lg:prose-lg mt-8 py-8 border-t border-gray-100 flex justify-between flex-wrap">
  {% if page.previous %}
  <div class="w-1/2 pr-2">
    <div class="text-xs md:text-sm">&laquo;&nbsp;vorheriger Artikel</div>
    <a href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title | markdownify | strip_html }}">
      {{ page.previous.title }}
    </a>
  </div>
  {% endif %}

  {% if page.next %}
  <div class="w-1/2 pl-2 text-right">
    <div class="text-xs md:text-sm">nächster Artikel&nbsp;&raquo;</div>
    <a href="{{ page.next.url | relative_url }}" title="{{ page.next.title | markdownify | strip_html }}">
      {{page.next.title}}
    </a>
  </div>
  {% endif %}
</nav>
{% endif %}