{%- if site.url -%}
  {%- assign seo_url = site.url | append: site.baseurl -%}
{%- endif -%}
{%- assign seo_url = seo_url | default: site.github.url -%}

{%- if page.title -%}
  {%- assign seo_title = page.title | markdownify | strip_html | strip_newlines | escape_once -%}
{%- endif -%}

{% if page.canonical_url %}
  {%- assign canonical_url = page.canonical_url %}
{% else %}
  {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url %}
{% endif %}

{%- assign seo_description = page.description | default: page.excerpt | default: site.description -%}
{%- if seo_description -%}
  {%- assign seo_description = seo_description | markdownify | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | escape_once | strip -%}
{%- endif -%}

{%- assign author = page.author | default: page.authors[0] | default: site.author -%}
{%- assign author = site.data.authors[author] | default: author -%}

{%- assign page_large_image = page.header.og_image | default: page.header.overlay_image | absolute_url -%}
{%- assign page_large_image = page_large_image | escape -%}

{%- assign page_teaser_image = page.header.teaser | default: site.og_image | absolute_url -%}
{%- assign page_teaser_image = page_teaser_image | escape -%}

{%- if page.date -%}
  {%- assign og_type = "article" -%}
{%- else -%}
  {%- assign og_type = "website" -%}
{%- endif -%}

<title>{{ seo_title | default: site.title }}</title>
<meta name="description" content="{{ seo_description }}">

{% if author.name %}
  <meta name="author" content="{{ author.name | default: author }}">
  {% if og_type == "article" %}
  <meta property="article:author" content="{{ author.name | default: author }}">
  {% endif %}
{% endif %}

<meta property="og:type" content="{{ og_type }}">
<meta property="og:locale" content="de_DE">
<meta property="og:site_name" content="gamue.de">
<meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
<meta property="og:url" content="{{ canonical_url }}">

{% if seo_description %}
  <meta property="og:description" content="{{ seo_description }}">
{% endif %}

{% if page_large_image %}
  <meta property="og:image" content="{{ page_large_image }}">
{% elsif page_teaser_image %}
  <meta property="og:image" content="{{ page_teaser_image }}">
{% endif %}

{% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if og_type == "article" and page.last_modified_at %}
  <meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
{% endif %}

<link rel="canonical" href="{{ canonical_url }}">

{% if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}">
{% endif %}
{% if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | absolute_url }}">
{% endif %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": {{ site.social.name | default: site.name | jsonify }},
    "url": {{ '/' | absolute_url |jsonify }}{% if site.social.links %},
    "sameAs": {{ site.social.links | jsonify }}{% endif %}
  }
</script>
