{% macro visitedCountriesMap(visitedCountries) %}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/lang/DE.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>

<div id="chartdiv" class="w-full h-80"></div>

<script>
    var chart = am4core.create("chartdiv", am4maps.MapChart);

    chart.geodataNames = am4geodata_lang_DE;
    chart.geodata = am4geodata_worldLow;
    chart.zoomControl = new am4maps.ZoomControl();
    chart.projection = new am4maps.projections.Miller();

    var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
    polygonSeries.useGeodata = true;
    polygonSeries.exclude = ["AQ"];

    var polygonTemplate = polygonSeries.mapPolygons.template;
    polygonTemplate.tooltipText = "{name}";

    polygonSeries.data = [
    {%- for country in visitedCountries -%}
      {%- if country.code -%}
      {
        "id": "{{ country.code }}",
        "name": "{{ country.name }}",
        "fill": am4core.color("#660000")
      },
      {%- endif -%}
    {%- endfor -%}
    ];

    polygonTemplate.propertyFields.fill = "fill";
</script>
{% endmacro %}