{%- if include.reverse == "true" -%}
    {% assign allFiles = site.static_files | reverse -%}
{%- else -%}
    {%- assign allFiles = site.static_files -%}
{%- endif -%}
{% assign galleryName = 'image-gallery' %}

<figure class="flex flex-wrap {{galleryName}}">
{%- for file in allFiles -%}
    {%- if file.path contains include.folder -%}
    <a href="{{ file.path }}" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 h-64 p-4">
        {% cloudinary thumbnail {{file.path}} alt="" class="preview-image" %}
    </a>
    {%- endif -%}
{%- endfor -%}
</figure>

<script>
    new SimpleLightbox({elements: '.{{galleryName}} a'});
</script>
