<!doctype html>
<html lang="de">
<head>
    {% include "head.njk" %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    {% include "navbar.njk" %}

    {% if header.overlay_image %}
        {% include "page__hero.njk" %}
    {% endif %}

    {% block content %}{% endblock %}

    {% include "footer.njk" %}
    {% include "scripts-end.njk" %}
</body>
</html>
