{% extends "./page.njk" %}
{% block belowContent %}

{% include "partials/country-route.njk" %}
{% include "partials/country-itinerary.njk" %}
{% include "partials/country-posts-with-tag.njk" %}

{% endblock %}