{% extends "./base.njk" %}
{% block content %}

{{ content | safe }}

{%- if preview.category -%}
  {%- set currentPostsHeadline = 'Aktuelle ' + preview.category + '-Artikel im Blog' -%}
  {%- set previewPosts = collections.posts | includes("data.categories", preview.category) -%}
  {%- set allPostsLabel = 'Alle ' + preview.category + '-Artikel' -%}
  {#%- set allPostsUrl = page.preview.category | slugify | prepend: 'category/' | append: '/' | relative_url -%#}
{%- else -%}
  {%- set currentPostsHeadline = 'Aktuelle Artikel im Blog' -%}
  {%- set previewPosts = collections.posts -%}
  {%- set allPostsLabel = 'Alle Artikel' -%}
  {%- set allPostsUrl -%}{% post_url collections.pages, 'archive-blog' %}{% endset %}
{%- endif -%}

<section class="container text-gray-700">
  <h2 class="mt-12 mb-6 px-4">{{currentPostsHeadline}}</h2>
  <div class="flex flex-wrap">
    {% for post in previewPosts | reverse | head(4) %}
      {% include "partials/post-summary-grid-view.njk" %}
    {% endfor %}
  </div>
  {# TODO button #}
  <div class="flex justify-center mt-8">
    <a href="{{allPostsUrl}}" class="btn">{{allPostsLabel}}</a>
  </div>
</section>
{% endblock %}