---
---
@charset "utf-8";

$link-color: #660000;

@import "minimal-mistakes"; // main partials

@media (min-width: 80em) {
    .page { width: calc(100% - 200px); padding-right: 200px; }
    .archive { width: calc(100% - 200px); padding-right: 200px; }
    .sidebar { width: calc(200px - 1em); }
}

body.layout--home div.page__hero--overlay{
    padding: 6em 0;
}
.page__lead{
    background-image: linear-gradient(to right, rgba(68, 68, 68, 0.4), rgba(68, 68, 68, 0.0));
    padding: 0.5rem
}

a{
    text-decoration: none;
}

div.archive__item-content-container{
    display: table;
}
.grid__item .archive__item-teaser {
    height: 200px;
    max-height: 200px;
}

section.taxonomy__section div.list__item{
    padding-bottom: 2em;
}

div.archive__item-teaser-wrapper{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 1em;
}
div.archive__item-teaser img,
div.archive__item-teaser-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
div.itinerary .grid__item .archive__item-excerpt{
    display: block;
}
.page__content h2{
    clear: both;
}

figure.image-gallery a{
    height: 250px;
    width: 100%;
    padding: 15px;
}
figure.image-gallery a img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
figure.image-gallery a img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.galleryPage .page{
    width: 100%;
    padding-right: 0;
}

.galleryPreview{
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    padding-top: 1rem;
}
.galleryPreview article{
    width: calc(100% - 1rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    position: relative;
}
.galleryPreview .meta{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.galleryPreview .meta h2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 2rem);
    transform: translate(-50%,-50%);
    padding: 0;
    margin: 0;
    border-bottom: none;
    z-index: 7;
    color: white;
    text-shadow: 1px 1px 0 #494e52
}
.gallery .image{
    width: 100%;
    height: 300px;
    background-position: center center;
    background-color: $light-gray;
    background-size: cover;
}
.gallery .shadow{
    display: block;
    position: absolute;
    top: 50%;
    height: 4rem;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    overflow: hidden;
    border-top: 1px solid $lighter-gray;
    border-bottom: 1px solid $lighter-gray;
}
.gallery .shadow-image{
    position: absolute;
    top: -5rem;
    bottom: -5rem;
    left: 0;
    right: 0;
    z-index: 6;
    background-position: center center;
    background-size: cover;
    filter: blur(3px);
}
.galleryPreview article:hover .gallery .shadow-image {
  filter:blur(10px)
}
.galleryPreview article:hover .gallery .shadow {
  box-shadow:0 0 10px rgba(0,0,0,.5)
}

#chartdiv {
  width: 100%;
  height: 20em;
  font-size: 0.75em;
}
.countries li {
    display: inline;
    list-style-type: none;
    font-size: 0.75em;
}
.countries li + li:before {
  content: " | ";
}

@media only screen and (min-width: 550px) {
  figure.image-gallery a{
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  figure.image-gallery a{
    width: 33.3333%;
  }
  .galleryPreview article{
    width: calc(50% - 1rem);
  }
}
@media only screen and (min-width: 992px) {
  figure.image-gallery a{
    width: 25%;
  }
  .galleryPreview article{
    width: calc(33.333% - 1rem);
  }
}

body.layout--single:not(.galleryPage) div.page__inner-wrap img{
    box-shadow: .125em .25em .25em rgba(57,62,70,.05),.75em .5em 2em .5em rgba(57,62,70,.1);
}
.page__content dd{
    font-size: 1em;
}

.icon-def{
  display: none;
}
ul.social-icons .icon{
  margin-right: .15em;
}

.sr-only{
    border:0;
    clip:rect(0,0,0,0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px
}
.sr-only-focusable:active,
.sr-only-focusable:focus{
    clip:auto;
    height:auto;
    margin:0;
    overflow:visible;
    position:static;
    width:auto
}

.hero-intro{
    display: flex;
    background-color: $lighter-gray;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
}
.hero-intro .image{
    width: 400px;
}
.hero-intro .image img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    box-shadow: .125em .25em .25em rgba(57,62,70,.05),.75em .5em 2em .5em rgba(57,62,70,.1);
}

@media only screen and (min-width: 550px) {
  .hero-intro .text{
      width: 50%;
  }
}
