---
layout: compress
---

<!doctype html>
<html lang="de" class="no-js">
<head>
    {% include head.html %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
{% include_cached navbar.html %}

{% if page.header.overlay_image %}
    {% include page__hero.html %}
{% endif %}

{{ content }}

{% include_cached footer.html %}
{% include scripts-end.html %}

</body>
</html>
