---
layout: compress
---

<!doctype html>
<html lang="de" class="no-js">
<head>
    {% include head.html %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
{% include_cached skip-links.html %}

<!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">Du verwendest einen <strong>veralteten Browser. Bitte <a href="https://browsehappy.com/">aktualisiere deinen Browser</a> um sicher im Internet zu sein und das Erlebnis zu verbessern.</div>
<![endif]-->

{% include_cached masthead.html %}

<div class="initial-content">
    {% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
        {% include page__hero.html %}
    {% endif %}

    {{ content }}
</div>

{% if site.search == true %}
    {% include_cached search/search_form.html %}
{% endif %}

{% include_cached footer.html %}
{% include scripts.html %}

</body>
</html>
