---
layout: default
---

<div class="hero-intro">
  <div class="text">
    <h2>Hi, ich bin Johannes.</h2>
    <p>Weltenbummler, Hobbyfotograf und Technikfreak.</p>
    <p>Auf dieser Seite möchte ich dir Bilder von meinen Reisen zeigen, sowie über Fotografie, Technologie, Gadgets und natürlich meine Abenteuer schreiben.</p>
    <a href="/about/">Mehr über mich</a>
  </div>
  <div class="image">
    {% cloudinary /assets/photography/2017_11_jordanien/Jordanien_123.jpg alt="" %}
  </div>
</div>

<div id="main" role="main">

  {{ content }}

  <div class="archive">
    <h3>Aktuelle Artikel im Blog</h3>
    {% assign entries_layout = page.entries_layout | default: 'list' %}
    <div class="entries-{{ entries_layout }}">
      {% for post in site.posts limit:4 %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <div class="more-entries">
      <a href="/blog/" class="btn btn--primary">Alle Einträge</a>
    </div>
  </div>
</div>
