---
layout: default
---

<div class="container text-gray-700 pt-8">
  {% unless page.header.overlay_image %}
    <h1 id="page-title" class="text-3xl">{{ page.title }}</h1>
  {% endunless %}

  {{ content }}

  {% assign tags_max = 0 %}
  {% for tag in site.tags %}
    {% if tag[1].size > tags_max %}
      {% assign tags_max = tag[1].size %}
    {% endif %}
  {% endfor %}

  <div class="mx-auto w-3/4 my-8">
    <ul class="grid grid-cols-3 gap-x-8 gap-y-4">
      {% for i in (1..tags_max) reversed %}
        {% for tag in site.tags %}
          {% if tag[1].size == i %}
            <li class="border-b border-gray-400 pb-1">
              <a href="#{{ tag[0] | slugify }}" class="flex justify-between">
                <span class="font-semibold">{{ tag[0] }}</span>
                <span class="text-gray-500">{{ i }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>

  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        <section id="{{ tag[0] | slugify | downcase }}" class="flex flex-col place-items-center my-8">
          <h1 class="w-full text-left text-3xl mb-4">{{ tag[0] }}</h1>
          {% for post in tag.last %}
            {% include post-summary-list-view.html %}
          {% endfor %}
          <div class="w-full text-right text-gray-500 text-sm">
            <a href="#page-title" class="back-to-top">Nach oben &uarr;</a>
          </div>
        </section>
      {% endif %}
    {% endfor %}
  {% endfor %}

</div>