{%- from "macros/date-and-readtime.njk" import dateAndReadtime -%}

<article class="w-3/4 xl:w-2/3 mb-8 p-2">
    <div class="flex flex-wrap my-1">
        {% for category in post.data.categories %}
        <div class="pr-4 font-semibold text-gray-500">
            <a href="/category/{{ category | strToSlug }}" title="Kategorie {{category}}" class="hover:underline">{{ category }}</a>
        </div>
        {% endfor %}
    </div>

    <h1 class="text-red-900 mb-2"><a href="{{ post.url | url }}" rel="permalink" title="{{ post.data.title }}">{{ post.data.title | safe }}</a></h1>

    <div class="flex">
        {%- if post.data.header.teaser -%}
        <div class="flex-none h-48 w-full sm:w-48 mr-4 overflow-hidden rounded-md cover-img">
            <a href="{{ post.url | url }}" rel="permalink" title="{{ post.data.title }}">
            {% cloudinary post.data.header.teaser, "", "", "thumbnail", null, true, true %}
            </a>
        </div>
        {%- endif -%}
        <div class="hidden sm:block">
            {%- if post.data.show_meta_data -%}
            <div class="text-gray-500 text-xs md:text-sm mb-2">{{ dateAndReadtime(post.date, post.content) }}</div>
            {%- endif %}
            <p class="text-sm md:text-base">{{ post | excerpt | safe }}</p>
        </div>
    </div>
</article>